<div class="row">
  <div class="col-md-12">

    <form [formGroup]="options"  (ngSubmit)="onSubmitDownloadMetadata(options)">
      <mat-form-field appearance="fill" [style.width.%]="100" [floatLabel]="floatLabelControl.value">
        <mat-label>Enter YouTube video address</mat-label>
        <input matInput formControlName="videoUrl" placeholder="ex. https://www.youtube.com/watch?v=6czpapfDu-c">
      </mat-form-field>
      <input type="submit">
    </form>
  </div>
</div>

<p *ngIf="loading"><em><mat-progress-spinner mode="indeterminate" value='66' color="primary"></mat-progress-spinner></em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="video">
  <thead>
    <tr>
      <th>Video Id</th>
      <th>title</th>
      <th>description</th>
      <th>url</th>
      <th>author</th>
      <th>duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ video.videoId }}</td>
      <td>{{ video.title }}</td>
      <td>{{ video.description }}</td>
      <td>{{ video.url }}</td>
      <td>{{ video.author }}</td>
      <td>{{ video.duration }}</td>
    </tr>
  </tbody>
</table>


<div class="row" *ngIf="video">
  <div class="col-md-12">
    <form [formGroup]="options2" (ngSubmit)="onSubmitSetMetadata(options2)">
      <mat-form-field appearance="fill" [style.width.%]="100" [floatLabel]="floatLabelControl.value">
        <mat-label>Enter Author</mat-label>
        <input matInput formControlName="author" placeholder="input the author">
      </mat-form-field>
      <input type="submit">
    </form>
  </div>
</div>
